@charset "UTF-8";
/* 
 @ Onekweb,	Mario Onekanda
 @ April 20 - 2012 
*/

/* Colors:	#f98908 = Orange
 * 			#2e2e2e = Black-grey
 * 			#8f8e8e = Grey
 * 
 *  */ 
@import url(http://fonts.googleapis.com/css?family=Jockey+One);
body{
	font-family: 		trebuchet MS,verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 			14px;
	margin:				0px;
	padding:			0px;
	color:				#000;
	background:			url('..img/header/trans-digital.png') repeat-x;
}
/* TOP */
#top{
	
	height: 			64px;
    margin-right:			auto;
    margin-left:			auto;
    width: 				960px;	
    padding:			10px;
    display:			block;
    overflow: 			hidden;
}



#logo{
	width:				218px;
	height:				65px;
	float:				left;	
}

#logo a{
	text-decoration: 	none;
	color:				#8f8e8e;		
}


.logo-title {
	font-family: 	Bradley Hand ITC,verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 		17px;
    padding: 		0px 0px 0px 0px;
    font-style:		 italic;
    margin-top: 	1px;
    line-height: 	104px;
	float:			right;
	line-height: 	86px;
}

#loggin-form{
	height:			64px;
	width:			420px;
	float:			right;
	position: 		relative;
	margin-top:			20px;
	display: 		block;
}
.user-field{
 	margin: 		0px 11px 0px 0px;
    width: 			130px;
    border: 		1px solid #000;
   }

.pass-field{	
	margin: 		0px 5px 0px 0px;
    width: 			130px;
    border: 		1px solid #000;

}

.remember-checkbox{
	
    position: absolute;
    right: 105px;
    top: 23px;
	
}

.submit-btn{
	background: 	#000;
    width: 			45px;
    color: 			#f98908;
    border:			 none;
    position: 		absolute;
    right: 			10px;
    top: 			1px;

	
}

.label1{
	color: 			#f98908;
	font-size: 13px;
    position: absolute;
    right: 5px;
    top: 23px;
}

.label2{
color: 			#f98908;
	font-size: 13px;
    left: 0;
    position: absolute;
    top: 22px;
}

.label3{
	color: 			#f98908;
	
font-size: 13px;
    left: 152px;
    position: absolute;
    top: 22px;
}


/* WRAPPER */
#wrapper{
	color: 				#000;
	background:			#fff;
	margin: 			0 auto;
	padding:			10px;
	width:				960px;
	height:				auto;
	overflow: 			hidden;
	border:				1px solid #8f8e8e ;
}



